---
import Layout from '~/layouts/PageLayout.astro';

import heroBg from '~/assets/images/hero-background.webp';
import heroSvg from '~/assets/images/hero-illustration.svg';
import aboutImg from '~/assets/images/about.png';
import service1 from '~/assets/images/service-1.png';
import service2 from '~/assets/images/service-2.png';
import service3 from '~/assets/images/service-3.png';
import service4 from '~/assets/images/service-4.png';
import contentCreation1 from '~/assets/images/content-creation-1.png';
import contentCreation2 from '~/assets/images/content-creation-2.png';
import contentCreation3 from '~/assets/images/content-creation-3.png';
import socialGraphic1 from '~/assets/images/social-graphic-1.png';
import socialGraphic2 from '~/assets/images/social-graphic-2.png';
import socialGraphic3 from '~/assets/images/social-graphic-3.png';
import socialGraphic4 from '~/assets/images/social-graphic-4.png';
import socialGraphic5 from '~/assets/images/social-graphic-5.png';

const metadata = {
  title: 'Dryxcy — Social Media Manager Virtual Assistant for Interior Design Business',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <section id="hero" class="relative">
    <div class="absolute top-[-62px] z-0 h-full w-full">
      <img src={heroBg.src} alt="clean minimal room background" class="h-full w-full" />
    </div>
    <div class="flex flex-col md:flex-row max-w-4xl mx-auto mt-12">
      <div class="flex flex-col gap-4 md:w-[70%] z-10 p-4 sm:pt-28">
        <h1 class="text-5xl font-black text-primary font-display">
          Your Go-To Social Media Management Virtual Assistant for Interior Design Businesses
        </h1>
        <a class="rounded-xl p-4 bg-accent text-primary font-bold inline w-fit" href="#">See My Work</a>
      </div>
      <div class="z-10 relative top-28 sm:top-10 flex flex-row-reverse">
        <img
          src={heroSvg.src}
          alt="Hero Portrait image of Dryxcy"
          class="relative top-[-180px] sm:top-0 w-[60%] sm:[w-70%] md:w-full md:h-full"
        />
      </div>
    </div>
  </section>
  <section id="about" class="bg-primary relative top-[-120px] z-10">
    <div class="flex flex-col sm:flex-row px-8 md:px-2 md:p-16 py-28 gap-4">
      <div class="flex flex-col text-gray-100 sm:w-[40%] items-center">
        <p class="p-0 m-0">Here's Everything You Need to Know</p>
        <h2 class="font-black text-6xl font-display">About Me</h2>
        <img src={aboutImg.src} alt="Another portrait pic of Dryxcy with dog" class="mt-4" />
      </div>
      <div class="flex flex-col justify-between flex-1 gap-4 sm:pr-20">
        <div>
          <h3 class="text-4xl font-bold text-accent font-display">Biography:</h3>
          <p class="text-gray-100 mt-2">
            I am Dryxcy Dapitan Dionsay, 22 years old, from the Philippines. I graduated Cum Laude with a Bachelor’s
            degree in Secondary Education, majoring in English. I offer a diverse skill set across various creative and
            digital disciplines. My expertise includes budget-friendly interior design, DIY project crafting, makeup
            artistry, portrait creation, painting, sewing, and producing handmade accessories such as scrunchies and
            hair bows. Additionally, I possess strong digital skills in areas such as digital illustration, graphic and
            logo design, as well as video and photo editing. In addition to my creative abilities, I have two years of
            experience as an ESL teacher, which has honed my communication skills and ability to work effectively with
            individuals from diverse backgrounds.
          </p>
        </div>
        <div>
          <h3 class="text-4xl font-bold text-accent font-display">Experience:</h3>
          <p class="text-gray-100 mt-2">
            As a content creator, I know the challenges of growing a business on social media. I manage two Facebook
            pages—one for selling my handmade scrunchies and hair bows, as well as posting my makeup transformations and
            tutorials, and another for our marketing agency. This hands-on experience has equipped me with valuable
            insights into engaging audiences and crafting effective strategies, allowing me to help your brand thrive in
            the digital landscape.
          </p>
        </div>
        <div>
          <h3 class="text-4xl font-bold text-accent font-display">Mission Statement:</h3>
          <p class="text-gray-100 mt-2">
            My mission is to empower your business to flourish through captivating content and strategic social media
            management, transforming your vision into reality and connecting you with the audience that truly matters.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="services">
    <h2 class="text-center font-black font-display text-6xl mb-4 text-primary">Services</h2>
    <div class="flex flex-col md:flex-row justify-center p-4 md:px-36 gap-12">
      <div class="flex flex-col gap-2">
        <img src={service1.src} alt="clock and speaker" />
        <h3 class="font-display font-black text-accent text-3xl">Social Media Management</h3>
        <p class="text-primary">
          I handle all aspects of your social media presence, from strategy development to content scheduling, ensuring
          your brand engages effectively with its audience and grows its online community.
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <img src={service2.src} alt="girl filming with ring light" />
        <h3 class="font-display font-black text-accent text-3xl">Content Creation</h3>
        <p class="text-primary">
          I create captivating and relevant content tailored to your brand’s voice, including eye-catching posts,
          engaging videos, and informative articles that resonate with your target audience and drive engagement.
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <img src={service3.src} alt="laptop with graphics design screen" />
        <h3 class="font-display font-black text-accent text-3xl">Graphics and Logo Design</h3>
        <p class="text-primary">
          I design visually appealing graphics and unique logos that reflect your brand’s identity, helping you stand
          out in a crowded market and leave a lasting impression on your audience.
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <img src={service4.src} alt="using phone" />
        <h3 class="font-display font-black text-accent text-3xl">Video and Photo Editing</h3>
        <p class="text-primary">
          I manage your Facebook page with a focus on increasing engagement and building community, crafting posts that
          capture attention, responding to inquiries, and analyzing performance to optimize growth.
        </p>
      </div>
    </div>
  </section>

  <section id="portfolio" class="bg-primary py-20 px-4 md:px-16">
    <h2 class="text-center font-display font-black text-6xl text-gray-100 mb-12">Portfolio</h2>
    <div class="flex flex-col lg:flex-row gap-4">
      <div class="flex flex-col gap-2 justify-between">
        <div>
          <h3 class="font-black font-display text-accent text-3xl">Content Creation</h3>
          <p class="text-gray-100 text-xl">
            Through captivating visuals and engaging content, I successfully sold out my entire collection, expanding my
            reach from local customers to a nationwide audience.
          </p>
        </div>
        <div class="flex flex-col lg:flex-row gap-4 lg:h-96">
          <img src={contentCreation2.src} alt="Colorful ribbons with high quality branding" class="lg:flex-3" />
          <img
            src={contentCreation3.src}
            alt="Colorful scrunchies with high quality branding"
            class="lg:flex-1 object-cover"
          />
        </div>
      </div>
      <div class="lg:order-first lg:w-[40%]">
        <img
          src={contentCreation1.src}
          alt="White ribbons with high quality branding"
          class="lg:h-full w-full object-cover"
        />
      </div>
    </div>

    <!-- Social Media Graphics -->

    <div class="mt-16">
      <h3 class="font-black font-display text-accent text-3xl">Social Media Graphics</h3>
      <p class="text-gray-100 text-xl">
        My designs elevate online presence, boost engagement, and ensure a cohesive brand message. With a blend of
        creativity and strategy, I help turn followers into loyal customers through compelling visuals that speak to the
        audience.
      </p>
      <div class="grid grid-cols-2 grid-rows-3 sm:grid-cols-4 sm:grid-rows-2 max-h-[800px] gap-4 mt-8">
        <img src={socialGraphic1.src} alt="Social Graphics about website" class="row-span-2 sm:col-span-2 sm:row-span-2 w-full h-full object-cover">
        <img src={socialGraphic2.src} alt="Social Graphics about website" class="w-full h-full object-cover">
        <img src={socialGraphic3.src} alt="Social Graphics about website" class="w-full h-full object-cover">
        <img src={socialGraphic4.src} alt="Social Graphics about website" class="w-full h-full object-cover">
        <img src={socialGraphic5.src} alt="Social Graphics about website" class="w-full h-full object-cover">
      </div>
    </div>
  </section>
</Layout>
